## Testing Trades

In [1]:
import os
import random
import numpy as np
import pandas as pd
from pylab import mpl, plt
import pandas_datareader.data as web

In [2]:
# import os
# import random
# import numpy as np
# import pandas as pd
# from pylab import mpl, plt
# import pandas_datareader.data as web
# data = web.DataReader('WIPRO.NS', 'yahoo', '2016-01-01','2022-09-30')

In [3]:
data = web.DataReader('WIPRO.NS', 'yahoo', '2016-01-01','2022-10-30')
data['return'] = np.log(data['Close'] / data['Close'].shift(1))
lags = 5
cols = []

for lag in range(1, lags+1):
    col = f'lag_{lag}'
    data[col] = data['Close'].shift(lag)
    cols.append(col)
data.dropna(inplace=True)

In [4]:
lags = 5
cols = []

for lag in range(1, lags+1):
    col = f'lag_{lag}'
    data[col] = data['Close'].shift(lag)
    cols.append(col)
data.dropna(inplace=True)

In [5]:
data

,High,Low,Open,Close,Volume,Adj Close,return,lag_1,lag_2,lag_3,lag_4,lag_5
Date,,,,,,,,,,,,
2016-01-15,205.818802,201.375046,204.975052,203.662552,1667087.0,196.151001,-0.003951,204.468796,204.937546,205.837555,201.543793,208.425049
2016-01-18,206.550049,199.031296,201.375046,205.181305,4515961.0,197.613754,0.007430,203.662552,204.468796,204.937546,205.837555,201.543793
2016-01-19,207.000046,201.750046,205.500046,203.250046,2553140.0,195.753708,-0.009457,205.181305,203.662552,204.468796,204.937546,205.837555
2016-01-20,206.962555,199.950043,202.143799,203.456299,3119055.0,195.952377,0.001014,203.250046,205.181305,203.662552,204.468796,204.937546
2016-01-21,208.125046,203.081299,203.081299,206.550049,4650132.0,198.931992,0.015092,203.456299,203.250046,205.181305,203.662552,204.468796
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-28,400.500000,395.350006,396.000000,398.049988,4460795.0,398.049988,-0.000879,398.399994,394.799988,394.350006,397.950012,400.750000
2022-09-29,401.899994,391.549988,401.000000,392.799988,5941534.0,392.799988,-0.013277,398.049988,398.399994,394.799988,394.350006,397.950012
2022-09-30,396.700012,387.500000,392.450012,394.250000,6785265.0,394.250000,0.003685,392.799988,398.049988,398.399994,394.799988,394.350006
2022-10-03,398.000000,390.600006,393.899994,394.500000,4070417.0,394.500000,0.000634,394.250000,392.799988,398.049988,398.399994,394.799988
2022-10-04,406.000000,399.000000,399.950012,405.500000,6295848.0,405.500000,0.027502,394.500000,394.250000,392.799988,398.049988,398.399994