## Testing Trades

In [1]:
import os
import random
import numpy as np
import pandas as pd
from pylab import mpl, plt
import pandas_datareader.data as web

In [2]:
import os
import random
import numpy as np
import pandas as pd
from pylab import mpl, plt
import pandas_datareader.data as web
data = web.DataReader('WIPRO.NS', 'yahoo', '2016-01-01','2022-09-30')

In [3]:
data = web.DataReader('WIPRO.NS', 'yahoo', '2016-01-01','2022-09-30')
data['return'] = np.log(data['Close'] / data['Close'].shift(1))
lags = 5
cols = []

for lag in range(1, lags+1):
    col = f'lag_{lag}'
    data[col] = data['Close'].shift(lag)
    cols.append(col)
data.dropna(inplace=True)

In [6]:
lags = 5
cols = []

for lag in range(1, lags+1):
    col = f'lag_{lag}'
    data[col] = data['Close'].shift(lag)
    cols.append(col)
data.dropna(inplace=True)

In [7]:
data

,High,Low,Open,Close,Volume,Adj Close,return,lag_1,lag_2,lag_3,lag_4,lag_5
Date,,,,,,,,,,,,
2016-01-13,206.962555,202.668793,205.125046,204.937546,1793783.0,197.378998,-0.004382,205.837555,201.543793,208.425049,206.193802,208.162552
2016-01-14,206.212555,201.000046,204.375046,204.468796,2919332.0,196.927536,-0.002290,204.937546,205.837555,201.543793,208.425049,206.193802
2016-01-15,205.818802,201.375046,204.975052,203.662552,1667087.0,196.150986,-0.003951,204.468796,204.937546,205.837555,201.543793,208.425049
2016-01-18,206.550049,199.031296,201.375046,205.181305,4515961.0,197.613754,0.007430,203.662552,204.468796,204.937546,205.837555,201.543793
2016-01-19,207.000046,201.750046,205.500046,203.250046,2553140.0,195.753723,-0.009457,205.181305,203.662552,204.468796,204.937546,205.837555
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-05,408.000000,404.000000,407.000000,405.500000,9009254.0,405.500000,-0.005411,407.700012,410.450012,413.549988,404.350006,417.250000
2022-09-06,407.350006,401.250000,407.000000,404.450012,9113081.0,404.450012,-0.002593,405.500000,407.700012,410.450012,413.549988,404.350006
2022-09-07,408.850006,401.000000,402.100006,407.450012,6124266.0,407.450012,0.007390,404.450012,405.500000,407.700012,410.450012,413.549988
2022-09-08,414.350006,409.600006,410.000000,412.799988,7032474.0,412.799988,0.013045,407.450012,404.450012,405.500000,407.700012,410.450012
2022-09-09,419.450012,411.350006,417.000000,416.899994,7335671.0,416.899994,0.009883,412.799988,407.450012,404.450012,405.500000,407.700012